* {
  box-sizing: border-box;
}

html {
  font-family: 'Jost', sans-serif;
}

body {
  margin: 0;
  background-color: #8e86fc;
}

header {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  margin: 2rem auto;
  border-radius: 10px;
  padding: 1rem;
  background-color: #f6ef49;
  color: white;
  text-align: center;
  width: 90%;
  max-width: 40rem;
}

#events {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  margin: 3rem auto;
  border-radius: 10px;
  padding: 1rem;
  text-align: center;
  width: 90%;
  max-width: 40rem;
  display: flex;
  flex-direction: column;
}

#events video {
  align-self: center;
}

#events .buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

h1 {
  color: #471de3;
}

#events h2 {
  font-size: 2rem;
  border-bottom: 4px solid #ccc;
  color: #f6ef49;
  margin: 0 0 2rem 0;
}

#events p {
  font-size: 1.25rem;
  font-weight: bold;
  border: 1px solid #4fc08d;
  background-color: #4fc08d;
  color: #471de3;
  padding: 0.5rem;
  border-radius: 25px;
}

#events video {
  padding: 0.05rem 1rem;
}

#events input {
  font: inherit;
  font-size: large;
  border: 1px solid #ccc;
}

#events input:focus {
  outline: none;
  border-color: #1b995e;
  background-color: #d7fdeb;
}

#events button {
  font: inherit;
  cursor: pointer;
  border: 1px solid #db0057;
  background-color: #db0057;
  color: white;
  padding: 0.05rem 1rem;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.26);
  border-radius: 20px;
  margin: 0 1rem;
}

#events button:hover,
#events button:active {
  background-color: #ec3169;
  border-color: #ec3169;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.26);
}
#events button:disabled {
  background-color: #d3d3d3;
  border-color: #d3d3d3;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.26);
  cursor: default;
}
.answers {
  display: flex;
  margin-left: 40%;
}
.answer {
  font-size: 1.5rem;
  display: grid;
  grid-template-columns: min-content auto;
  grid-gap: 0.25em;
  color: #f6ef49;
}

.answer label {
  line-height: 1;
}

.answer input {
  display: flex;
  /* opacity: 0;
  width: 0;
  height: 0; */
}

.btn-small {
  width: 60%;
  align-self: center;
}